body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(31, 209, 233);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0d2ff3;
    font-size: 50px;
}
h2 {
    text-align: center;
    font-size: 35px;
    color: #18742c;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.product-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background: #f9f9f9;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.product-checkbox {
    margin-right: 10px;
}

.product-quantity {
    width: 60px;
    margin-left: 10px;
}

.total {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}
